.DS_Store
.idea
.git
.dockerignore
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.gitlab-ci.yml
_ide_helper.php
docker-compose.example.yml
docker-compose.yml
docker-compose-dev.yml
docker-sync.yml
Dockerfile
readme.md

